
[submodule "jslibs/externals/jquery/1.6.2"]
	path = jslibs/externals/jquery/1.6.2
	url = https://github.com/jquery/jquery.git
[submodule "jslibs/externals/jquery-ui/1.9m5"]
	path = jslibs/externals/jquery-ui/1.9m5
	url = https://github.com/jquery/jquery-ui.git
[submodule "jslibs/externals/slickgrid/v2.0a-jslibrev1"]
	path = jslibs/externals/slickgrid/v2.0a-jslibrev1
	url = https://github.com/mleibman/SlickGrid.git
[submodule "docs/_themes"]
	path = docs/_themes
	url = git://github.com/Pylons/pylons_sphinx_theme.git
[submodule "jslibs/externals/tinymce/3.4.7"]
	path = jslibs/externals/tinymce/3.4.7
	url = https://github.com/tinymce/tinymce.git
[submodule "jslibs/externals/tinymce/3.4.8"]
	path = jslibs/externals/tinymce/3.4.8
	url = https://github.com/tinymce/tinymce.git
